{% extends "battling/base.html" %}

{% block content %}
<div class="teste">
  <h1>Resultado</h1>
  {{winner}} won!

  <h3>{{creator}}'s team was:</h3>
  <table>
    <tr>
      <th>Pokemon</th>
      <th>attack</th>
      <th>defense</th>
      <th>hp</th>
    </tr>

    {% for pokemon in creator_pkms %}
    <tr>
      <th> {{pokemon.name}}</th>
      <th> {{pokemon.attack}}</th>
      <th> {{pokemon.defense}}</th>
      <th> {{pokemon.hp}}</th>
    </tr>
    {% endfor %}

  </table>

  <h3>{{opponent}}'s team was:</h3>
  <table>
    <tr>
      <th>Pokemon</th>
      <th>attack</th>
      <th>defense</th>
      <th>hp</th>
    </tr>

    {% for pokemon in opponent_pkms %}
    <tr>
      <th> {{pokemon.name}}</th>
      <th> {{pokemon.attack}}</th>
      <th> {{pokemon.defense}}</th>
      <th> {{pokemon.hp}}</th>
    </tr>
    {% endfor %}

  </table>

</div>
{% endblock %}
